.App {
  text-align: center;
}

.menu {
  position: fixed;
  top: 0;
 
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  overflow-y: auto;
}
.menu-icon span {

  position: relative;
  margin-left: 1.5rem;
  font-weight: bold;
}
.back-button {
  display: flex;
 
  padding: 20px;
  font-size: 1.2rem;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.back-button span {
  display: flex;

  position: relative;
  margin-left: 0.5rem;
  font-weight: bold;
}
